{% extends "default.html" %}

{% block content %}

<div class="row no-gutters {% if listing %}mt-md-3{% elif not listing %}my-md-3{% endif %}">

	<div class="col-12">

		<div class="posts" id="posts">

			{% for p in listing %}
					
			{% set ups=p.upvotes %}
			{% set downs=p.downvotes %}
			{% set score=ups-downs %}
			
			{% set voted=-2 %}
			
			
			<div id="post-{{p.id}}" class="card{% if p.is_banned %} banned{% endif %}{% if p.deleted_utc > 0 %} deleted{% endif %}{% if p.stickied %} stickied{% endif %}{% if voted==1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}{% if p.over_18 %} nsfw{% endif %}">
			
				<div class="d-flex flex-row-reverse flex-md-row flex-nowrap justify-content-end">
			
					<!-- Voting on "medium" devices or larger, hidden on smaller devices -->
					<div class="voting my-2 d-none d-md-block pr-2">						
						<span id="post-{{p.id}}-score-none" class="score"{% if not p.is_banned %} data-toggle="tooltip" data-placement="right" data-original-title="+{{ups}} | -{{downs}}"{% endif %}>{{score}}</span>
					</div>
			
					<div class="card-header bg-transparent border-0 d-flex flex-row flex-nowrap pl-2 pl-md-0 p-0 mr-md-2">
			
						<div style="z-index: 3;">
							
							{% if not p.url %}
								<a target="_blank" href="https://{{p.site}}/post/{{p.id}}">
									<img loading="lazy" src="{{p.thumb_url}}" class="post-img">
								</a>
							{% elif p.is_image %}
								<a href="javascript:void(0)" class="expandable-image" data-toggle="modal" data-target="#expandImageModal" data-url="{{p.url}}">
									<img loading="lazy" src="{{p.thumb_url}}" class="post-img">
								</a>
							{% else %}
								<a {% if not v or v.newtabexternal %}target="_blank"{% endif %} rel="nofollow noopener noreferrer" href="{{p.url}}">
									<img loading="lazy" src="{{p.thumb_url}}" class="post-img">
								</a>
							{% endif %}
							
						</div>
			
			
					</div>
			
					<div class="card-block text-left x-scroll-parent my-md-auto w-100">
			
						<div class="post-meta text-left x-scroll mb-md-2">
							{% if p.bannedfor and p.author.banned_by %}
								<a href="javascript:void(0)"><i class="fad fa-gavel text-danger" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="User was banned for this post by @{{p.author.banned_by.username}}"></i></a>
							{% endif %}
			
							{% if p.awards %}
								{% for a in p.awards[:5] %}
								<i class="{{a.class_list}} px-1" data-toggle="tooltip" data-placement="bottom" title="{{a.title}} Award given by @{{a.user.username}}"></i>
								{% endfor %}
							{% endif %}
							{% if p.stickied %}<i class="fas fa-thumbtack text-admin fa-rotate--45" data-toggle="tooltip" data-placement="bottom" title="Pinned post"></i>{% endif %}
							{% if p.distinguish_level %}<i class="fas fa-broom text-admin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{'SITE_NAME' | app_config}} Admin, speaking officially"></i>{% endif %}
							{% if p.is_pinned and request.path.startswith('/@') %}<i class="fas fa-thumbtack text-admin fa-rotate--45" data-toggle="tooltip" data-placement="bottom" title="Pinned to profile"></i>{% endif %}
							{% if p.over_18 %}<span class="badge badge-danger text-small-extra mr-1">+18</span>{% endif %}
							{% if p.is_bot %} <i class="fad fa-robot text-info" data-toggle="tooltip" data-placement="bottom"	data-original-title="Bot"></i>{% endif %}
							{% if p.is_blocking %}<i class="fas fa-user-minus text-warning" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="You're blocking this user, but you can see this post because {{'it\'s an admin post' if p.distinguish_level else 'you\'re an admin'}}."></i>{% endif %}
							{% if p.is_blocked %}<i class="fas fa-user-minus text-danger" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="This user is blocking you."></i>{% endif %}
							{% if p.private %}<span class="badge border-warning border-1 text-small-extra">Draft</span>{% endif %}
							{% if p.active_flags %}<a class="btn btn-primary" href="javascript:void(0)" style="padding:1px 5px; font-size:10px;" onclick="document.getElementById('flaggers-{{p.id}}').classList.toggle('d-none')">{{p.active_flags}} Reports</a>{% endif %}
							{% if p.author.verified %}<i class="fas fa-badge-check align-middle ml-1" style="color:#1DA1F2" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{p.author.verified}}"></i>
							{% endif %}
							<a href="{{p.author.url}}"style="color: #{{p.author.namecolor}};  font-weight: bold;" class="user-name"><img loading="lazy" src="{{p.author.profile_url}}" class="profile-pic-25 mr-2"/><span {% if p.author.patron %}class="patron" style="background-color:#{{p.author.namecolor}};"{% endif %}>{{p.author.username}}</span></a>{% if p.author.customtitle %}<bdi  style="color: #{{p.author.titlecolor}}">&nbsp;&nbsp;{% if p.author.quadrant %}<img loading="lazy" height="20" src="/assets/images/PCM/quadrants/{{p.author.quadrant}}.gif">{% endif %}{{p.author.customtitle | safe}}</bdi>{% endif %}
							&nbsp;
							({% if p.url %}{{p.domain}}{% else %}text post{% endif %})
							
							{% if p.edited_utc %}&nbsp;&nbsp;Edited <span data-toggle="tooltip" data-placement="bottom" id="edited_timestamp-{{p.id}}" title="">{{p.edited_string}}</span>{% endif %}
							&nbsp;&nbsp;{{p.site}}
						</div>
			
						<h5 class="card-title post-title text-left w-lg-75 mb-0 pb-0 pb-md-1"><a target="_blank" href="https://{{p.site}}/post/{{p.id}}" class="stretched-link">
							{{p.title | safe}}
						</a></h5>
			
						{% if p.thumb_url %}
						<div class="row post-img-lg mb-3">
							<div class="col px-0">
								<a target="_blank" href="https://{{p.site}}/post/{{p.id}}"><img loading="lazy" src="{{p.thumb_url}}" class="img-fluid" alt="post image"></a>
							</div>
						</div>
						{% endif %}
			
						<div class="post-actions mt-2 d-none d-md-block">
							<ul class="list-inline text-right d-flex">
									{% if p.body %}
									<li class="list-inline-item"><a href="javascript:void(0)" class="text-expand" data-id="{{p.id}}"><i class="fas fa-expand-alt mr-0 text-expand-icon-{{p.id}}"></i></a></li>
									{% endif %}
									<li class="list-inline-item"><a target="_blank" href="https://{{p.site}}/post/{{p.id}}"><i class="fas fa-comment-dots"></i>{{p.comment_count}}</a></li>
			
									<li class="list-inline-item"><a href="https://{{p.site}}/votes?link={{p.fullname}}"><i class="fas fa-arrows-v"></i>Votes</a></li>
			
									<li class="list-inline-item"><a href="javascript:void(0);" role="button" class="copy-link" data-clipboard-text="https://{{p.site}}/post/{{p.id}}"><i class="fas fa-copy"></i>Copy link</a></li>
																		
						</ul>
					</div>
				</div>
			</div>
			
			{% if p.is_image and (not v or v.cardview) %}
				<div style="text-align: center" class="mt-4">
					<a target="_blank" rel="nofollow noopener noreferrer" href="{{p.url}}">
						<img loading="lazy" src="{{p.url}}" class="img-fluid" style="max-height:500px;" alt="Unable to load image">
					</a>
				</div>
			{% endif %}
			
			{% if p.body %}
				<div class="d-none card rounded border pb-0 pt-3 my-2" id="post-text-{{p.id}}">
					{{p.body | safe}}
				</div>
			{% endif %}
			
			<div class="card-footer d-block d-md-none mt-2">
				<div class="post-actions">
					<ul class="list-inline text-right d-flex">
						<li class="list-inline-item mr-auto"><a target="_blank" href="https://{{p.site}}/post/{{p.id}}"><i class="fas fa-comment-dots"></i>{{p.comment_count}}</a></li>
			
						{% if p.body and request.path != "/changelog"%}
						<li class="list-inline-item"><a href="javascript:void(0)" class="text-expand" data-id="{{p.id}}"><i class="fas fa-expand-alt mr-0 text-expand-icon-{{p.id}}"></i></a></li>
						{% endif %}
			
						<li class="list-inline-item"><a href="javascript:void(0);" role="button" class="copy-link" data-clipboard-text="https://{{p.site}}/post/{{p.id}}"><i class="fas fa-link"></i>Copy link</a></li>
						<li id="voting-{{p.id}}-mobile" class="voting list-inline-item d-md-none">			
							<span id="post-score-{{p.id}}-mobile" class="score"{% if not p.is_banned %} data-toggle="tooltip" data-placement="top" data-original-title="+{{ups}} | -{{downs}}"{% endif %}>{{score}}</span>
						</li>
					</ul>
				</div>
			</div>
			
			<!-- Post Actions Modal -->
			<div class="modal fade modal-sm-bottom d-md-none" id="actionsModal-{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="actionsModalTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header p-3">
							<h5 class="col modal-title text-center h6">More options</h5>
							<button type="button" class="close position-absolute py-3" style="right: 1rem;" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true"><i class="fas fa-times-circle text-gray-500"></i></span>
							</button>
						</div>
						<div class="modal-body">
							<ul class="list-group post-actions">
			
								<button class="nobackground btn btn-link btn-block btn-lg text-left text-muted"><a href="https://{{p.site}}/votes?link={{p.fullname}}"><i class="fas fa-arrows-v text-center text-muted mr-3"></i>Votes</a></button>			
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			</div>
			{% endfor %}
			
		</div>
	</div>
</div>

{% endblock %}