<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
	<script src="/assets/marseyverse.js"></script>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="thumbnail" content="/assets/preview.gif">

	<link rel="icon" type="image/png" href="/assets/icon.gif">
	
	<title>MarseyVerse</title>

	<meta property="og:type" content="article" />
	<meta property="og:title" content="MarseyVerse" />
	<meta property="og:site_name" content="{{request.host}}" />
	<meta property="og:image" content="MarseyVerse/assets/preview.gif" />
	<meta property="og:author" name="author" content="@{{request.host_url}}" />
	<meta property="og:site_name" content="{{request.host}}" />

	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@{{request.host_url}}">
	<meta name="twitter:title" content="MarseyVerse" />
	<meta name="twitter:creator" content="@{{request.host_url}}">
	<meta name="twitter:image" content="/assets/preview.gif" />

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/icon.gif">
		<link rel="manifest" href="/assets/manifest.json">
		<link rel="mask-icon" href="/assets/icon.gif" color="#805ad5">
		<link rel="shortcut icon" href="/assets/icon.gif">
		<meta name="apple-mobile-web-app-title" content="MarseyVerse">
		<meta name="application-name" content="MarseyVerse">
		<meta name="msapplication-TileColor" content="#805ad5">
		<meta name="msapplication-config" content="/assets/browserconfig.xml">
		<meta name="theme-color" content="#805ad5">



		<link
		rel="apple-touch-startup-image"
		sizes="320x480"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="640x960"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-icon"
		sizes="640x1136"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-icon"
		sizes="750x1334"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="768x1004"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="768x1024"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="828x1792"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1024x748"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1024x768"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1125x2436"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1242x2208"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1242x2688"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1334x750"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1536x2008"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1536x2048"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1668x2224"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1792x828"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2048x1496"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2048x1536"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2048x2732"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2208x1242"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2224x1668"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2436x1125"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2668x1242"
		href="/assets/icon.gif"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2737x2048"
		href="/assets/icon.gif"
		/>

		<link rel="stylesheet" href="/assets/midnight.css">
		<link href="/assets/fa.css" rel="stylesheet">

 </head>

 <body id="{% if request.path != '/comments' %}frontpage{% endif %}" style="overflow-x: hidden;">

	
<div class="container {% if request.path=='/' or '/post/' in request.path or '/comment/' in request.path %} transparent {% endif %}">
	<div class="row justify-content-around" id="main-content-row">

		<div class="col h-100 {% if not '/message' in request.path %}custom-gutters{% endif %}" id="main-content-col">

			<div class="row no-gutters {% if listing %}mt-md-3{% elif not listing %}my-md-3{% endif %}">

				<div class="col-12">
			
					<div class="posts" id="posts">
			
						{% for p in listing %}
								
						{% set ups=p.upvotes %}
						{% set downs=p.downvotes %}
						{% set score=ups-downs %}
						
						{% set voted=-2 %}
						
						
						<div id="post-{{p.id}}" class="card{% if p.is_banned %} banned{% endif %}{% if p.deleted_utc > 0 %} deleted{% endif %}{% if p.stickied %} stickied{% endif %}{% if voted==1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}{% if p.over_18 %} nsfw{% endif %}">
						
							<div class="d-flex flex-row-reverse flex-md-row flex-nowrap justify-content-end">
						
								<div class="voting my-2 d-none d-md-block pr-2">						
									<span id="post-{{p.id}}-score-none" class="score"{% if not p.is_banned %} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="+{{ups}} | -{{downs}}"{% endif %}>{{score}}</span>
								</div>
						
								<div class="card-header bg-transparent border-0 d-flex flex-row flex-nowrap pl-2 pl-md-0 p-0 mr-md-2">
						
									<div style="z-index: 3;">
										
										{% if not p.url %}
											<a target="_blank" href="https://{{p.site}}/post/{{p.id}}">
												<img loading="lazy" src="{{p.thumb_url}}" class="post-img">
											</a>
										{% elif p.is_image %}
											<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#expandImageModal" data-bs-url="{{p.url}}" onclick="expandDesktopImage('{{p.url}}')">
												<img loading="lazy" src="{{p.thumb_url}}" class="post-img">
											</a>
										{% else %}
											<a {% if not v or v.newtabexternal %}target="_blank"{% endif %} rel="nofollow noopener noreferrer" href="{{p.url}}">
												<img loading="lazy" src="{{p.thumb_url}}" class="post-img">
											</a>
										{% endif %}
										
									</div>
						
						
								</div>
						
								<div class="card-block text-left x-scroll-parent my-md-auto w-100">
						
									<div class="post-meta text-left x-scroll mb-md-2">
										{% if p.bannedfor and p.author.banned_by %}
											<a href="javascript:void(0)"><i class="fad fa-gavel text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="User was banned for this post by @{{p.author.banned_by.username}}"></i></a>
										{% endif %}
						
										{% if p.awards %}
											{% for a in p.awards[:5] %}
											<i class="{{a.class_list}} px-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{a.title}} Award given by @{{a.user.username}}"></i>
											{% endfor %}
										{% endif %}
										{% if p.stickied %}<i class="fas fa-thumbtack text-admin fa-rotate--45" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pinned post"></i>{% endif %}
										{% if p.distinguish_level %}<i class="fas fa-broom text-admin" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="MarseyVerse Admin, speaking officially"></i>{% endif %}
										{% if p.is_pinned and request.path.startswith('/@') %}<i class="fas fa-thumbtack text-admin fa-rotate--45" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pinned to profile"></i>{% endif %}
										{% if p.over_18 %}<span class="badge badge-danger text-small-extra mr-1">+18</span>{% endif %}
										{% if p.is_bot %} <i class="fad fa-robot text-info" data-bs-toggle="tooltip" data-bs-placement="bottom"	data-bs-original-title="Bot"></i>{% endif %}
										{% if p.is_blocking %}<i class="fas fa-user-minus text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="You're blocking this user, but you can see this post because {{'it\'s an admin post' if p.distinguish_level else 'you\'re an admin'}}."></i>{% endif %}
										{% if p.is_blocked %}<i class="fas fa-user-minus text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="This user is blocking you."></i>{% endif %}
										{% if p.private %}<span class="badge border-warning border-1 text-small-extra">Draft</span>{% endif %}
										{% if p.active_flags %}<a class="btn btn-primary" href="javascript:void(0)" style="padding:1px 5px; font-size:10px;" onclick="document.getElementById('flaggers-{{p.id}}').classList.toggle('d-none')">{{p.active_flags}} Reports</a>{% endif %}
										{% if p.author.verified %}<i class="fas fa-badge-check align-middle ml-1" style="color:#1DA1F2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="{{p.author.verified}}"></i>
										{% endif %}
										<a href="https://{{p.site}}{{p.author.url}}"style="color: #{{p.author.namecolor}};  font-weight: bold;" class="user-name"><img loading="lazy" src="{{p.author.profile_url}}" class="profile-pic-25 mr-2"/><span {% if p.author.patron %}class="patron" style="background-color:#{{p.author.namecolor}};"{% endif %}>{{p.author.username}}</span></a>{% if p.author.customtitle %}<bdi  style="color: #{{p.author.titlecolor}}">&nbsp;&nbsp;{{p.author.customtitle | safe}}</bdi>{% endif %}
										&nbsp;
										{{p.site}}
										&nbsp;
										({% if p.url %}{{p.domain}}{% else %}text post{% endif %})
										
										{% if p.edited_utc %}&nbsp;&nbsp;Edited <span data-bs-toggle="tooltip" data-bs-placement="bottom" id="edited_timestamp-{{p.id}}" title="">{{p.edited_string}}</span>{% endif %}
									</div>
						
									<h5 class="card-title post-title text-left w-lg-75 mb-0 pb-0 pb-md-1"><a target="_blank" href="https://{{p.site}}/post/{{p.id}}" class="stretched-link">
										{{p.title | safe}}
									</a></h5>
						
									{% if p.thumb_url %}
									<div class="row post-img-lg mb-3">
										<div class="col px-0">
											<a target="_blank" href="https://{{p.site}}/post/{{p.id}}"><img loading="lazy" src="{{p.thumb_url}}" class="img-fluid" alt="post image"></a>
										</div>
									</div>
									{% endif %}
						
									<div class="post-actions mt-2 d-none d-md-block">
										<ul class="list-inline text-right d-flex">
												{% if p.body %}
												<a class="list-inline-item" href="javascript:void(0)" onclick="expandText('{{p.id}}')"><i class="fas fa-expand-alt mr-0 text-expand-icon-{{p.id}}"></i></a>
												{% endif %}
												<a class="list-inline-item" target="_blank" href="https://{{p.site}}/post/{{p.id}}"><i class="fas fa-comment-dots"></i>{{p.comment_count}}</a>
						
												<a class="list-inline-item" href="https://{{p.site}}/votes?link=t2_{{p.id}}"><i class="fas fa-arrows-v"></i>Votes</a>
						
												<a class="list-inline-item copy-link" href="javascript:void(0);" role="button" data-clipboard-text="https://{{p.site}}/post/{{p.id}}"><i class="fas fa-copy"></i>Copy link</a>
																					
									</ul>
								</div>
							</div>
						</div>
						
						<div class="card-footer d-block d-md-none mt-2">
							<div class="post-actions">
								<ul class="list-inline text-right d-flex">
									<a class="list-inline-item mr-auto" target="_blank" href="https://{{p.site}}/post/{{p.id}}"><i class="fas fa-comment-dots"></i>{{p.comment_count}}</a>
						
									{% if p.body and request.path != "/changelog"%}
										<a class="list-inline-item"><a href="javascript:void(0)" onclick="expandText('{{p.id}}')"><i class="fas fa-expand-alt mr-0 text-expand-icon-{{p.id}}"></i></a>
									{% endif %}
						
									<a class="list-inline-item copy-link" href="javascript:void(0);" role="button"data-clipboard-text="https://{{p.site}}/post/{{p.id}}"><i class="fas fa-link"></i>Copy link</a>

									<a id="voting-{{p.id}}-mobile" class="voting list-inline-item d-md-none">			
										<span id="post-score-{{p.id}}-mobile" class="score"{% if not p.is_banned %} data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="+{{ups}} | -{{downs}}"{% endif %}>{{score}}</span>
									</a>
								</ul>
							</div>
						</div>
						
						<div class="modal fade modal-sm-bottom d-md-none" id="actionsModal-{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="actionsModalTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header p-3">
										<h5 class="col modal-title text-center h6">More options</h5>
										<button type="button" class="close position-absolute py-3" style="right: 1rem;" data-bs-dismiss="modal" aria-label="Close">
											<span aria-hidden="true"><i class="fas fa-times-circle text-gray-500"></i></span>
										</button>
									</div>
									<div class="modal-body">
										<ul class="list-group post-actions">
						
											<button class="nobackground btn btn-link btn-block btn-lg text-left text-muted"><a href="https://{{p.site}}/votes?link=t2_{{p.id}}"><i class="fas fa-arrows-v text-center text-muted mr-3"></i>Votes</a></button>			
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						</div>
						
						{% if p.body %}
							<div class="d-none card rounded border pb-0 pt-3 my-2" id="post-text-{{p.id}}">
								{{p.body | safe}}
							</div>
						{% endif %}
															
						{% endfor %}
						
					</div>
				</div>
			</div>			
		</div>
		
	</div>
</div>

<div class="container d-inline-flex d-lg-none">

	<div class="row fixed-bottom bg-white border-top p-2" id="mobile-bottom-navigation-bar"
	style="z-index: 100; bottom: 0px; transition: bottom cubic-bezier(0, 0, 0.2, 1) 220ms;">

			<button type="button" class="col px-0 pl-2 btn btn-dead m-0" style="border-color: transparent !important;">
					<a href="/" class="text-decoration-none" role="button">
							<div class="text-center {% if request.path=='/' and request.full_path!='/?sort=hot&t=all' and request.full_path!='/?sort=new&t=all' %}text-purple{% else %}text-muted{% endif %}">
									<i class="fas fa-home-alt text-lg d-block"></i>
									<div class="text-small">Home</div>
							</div>
					</a>
			</button>
			<button type="button" class="col px-0 btn btn-dead m-0" style="border-color: transparent !important;">
					<a href="/?sort=new&t=all" class="text-decoration-none" role="button">
							<div class="text-center {% if request.full_path=='/?sort=new&t=all' %}text-purple{% else %}text-muted{% endif %}">
									<i class="fas fa-sparkles text-lg d-block"></i>
									<div class="text-small">New</div>
							</div>
					</a>
			</button>
			<button type="button" class="col px-2 btn btn-dead m-0" style="border-color: transparent !important;">
					<a href="/comments" class="text-decoration-none" role="button">
							<div class="text-center {% if request.path=='/comments' %}text-purple{% else %}text-muted{% endif %}">
									<i class="fas fa-comment-dots text-lg d-block"></i>
									<div class="text-small">Comments</div>
							</div>
					</a>
			</button>
			<button type="button" class="col px-0 btn btn-dead m-0" style="border-color: transparent !important;">
					<a href="/leaderboard" class="text-decoration-none" role="button">
							<div class="text-center {% if request.path=='/leaderboard' %}text-purple{% else %}text-muted{% endif %}">
									<i class="fas fa-trophy text-lg d-block"></i>
									<div class="text-small">Users</div>
							</div>
					</a>
			</button>
			<button type="button" class="col px-0 pr-2 btn btn-dead m-0" style="border-color: transparent !important;">
					<a href="/signup" class="text-decoration-none" role="button">
							<div class="text-center text-muted">
									<i class="fas fa-user-plus text-lg d-block"></i>
									<div class="text-small">Sign Up</div>
							</div>
					</a>
			</button>
	</div>
</div>

<div class="toast clipboard" id="toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body text-center">
		<i class="fas fa-check-circle text-success mr-2"></i>Link copied to clipboard
	</div>
</div>

<div class="toast clipboard" id="toast-error" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body text-center">
		<i class="fas fa-exclamation-circle text-danger mr-2"></i>Unable to copy link
	</div>
</div>

<div class="toast" id="toast-post-success" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body bg-success text-center text-white">
		<i class="fas fa-comment-alt-smile mr-2"></i><span id="toast-post-success-text"></span>
	</div>
</div>
<div class="toast" id="toast-post-error" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body bg-danger text-center text-white">
		<i class="fas fa-exclamation-circle mr-2"></i><span id="toast-post-error-text"></span>
	</div>
</div>

<div class="modal desktop-expanded-image-modal" id="expandImageModal" tabindex="-1" role="dialog" aria-labelledby="expandImageModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered mx-auto" role="document" style="width: fit-content;">
		<div class="modal-content bg-transparent shadow-none m-5 m-md-0">

			<div class="modal-body text-center p-0">
				<div class="d-inline-block position-relative">
					<a href="" rel="nofollow noopener noreferrer" target="_blank" id="desktop-expanded-image-wrap-link">
						<img loading="lazy" src="" class="img-fluid rounded" id="desktop-expanded-image" style="min-width: 250px;">
					</a>
					<div class="position-absolute d-flex justify-content-between align-items-center w-100 mt-1">
						<a href="" rel="nofollow noopener noreferrer" target="_blank" class="text-gray-500 font-weight-bold text-left" id="desktop-expanded-image-link">View original</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>


{% if request.path=='/' and g.system and g.timestamp>session.get('tooltip_last_dismissed',0)+60*60*24 and (not g.system.endswith('/chrome') and not g.system.endswith('/other')) and not g.system.endswith('/webview') %}

<div id="mobile-prompt-container" class="fixed-bottom">
	<div id="mobile-prompt" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-container="#mobile-prompt-container" data-bs-placement="top" data-bs-trigger="click" title="Install the MarseyVerse webapp by saving this page to your home screen!"></div>
</div>
{% endif %}

</body>

</html>